# Node.js
node_modules/
npm-debug.log*
.env

# Terraform
.terraform/
infra/dev/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
terraform.tfvars
.terraform.lock.hcl

# Terraform plugin binaries
**/terraform-provider-*

# Backup files
*.backup

# Docker
*.log
*.pid
*.seed
*.tar

# VSCode
.vscode/

# Tokens
token.txt
